* {
  text-align: center;
}

body {
  background-color: black;
}
h1 {
  color: white;
}
h2 {
  color: red;
  text-align: center;
  text-shadow: 0px 0px 5px #000;
  }

.go {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  padding: 15px;
  border: solid #FFF 2px;
  margin: 0 20px;
  cursor: default;
}

.go:hover {
  opacity: 1;
  background-color: white;
  color: black;
}
